/*@import "reset" if need this */
@import "normalize"
@import "fonts"
@import "libs"
@import "vars"
@import "_mixins/mixins"
@import "smart-grid"
@import "image1"
@import "links1"
@import "glitch"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #fff
body input:required:valid,
body textarea:required:valid
	color: #fff


html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	+jura
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.hidden
	display: none

.frame
	width: 700px
	max-width: 100%
	height: 400px
	position: absolute
	top: 50%
	left: 50%
	overflow: hidden
	color: $tColor
	transform: translate(-50%, -50%)
	z-index: 100

.h1
	font-weight: 200
	font-size: 40px
	text-transform: uppercase
	letter-spacing: 2px

.h2
	color: $tColor
	font-size: 30px
	text-transform: uppercase
	letter-spacing: 1.5px

.accent
	color: $accent

.txt-rotate
	font-size: 30px
	letter-spacing: 2px

.intro
	display: inline-block
	position: absolute
	left: auto
	margin-right: 50px
	top: auto
	bottom: 0
	max-width: 100%
	height: 50%
	max-height: 900px

.simple
	&__text
		position: relative
		z-index: 100
		color: $tColor
		font-size: 18px
		letter-spacing: 1px
		line-height: 1.6
		font-weight: 300
		font-style: normal
		white-space: pre-line
		text-align: left
	&__img
		position: relative
		z-index: 1
		-webkit-background-size: contain
		background-size: contain
		background-position: center center
		background-repeat: no-repeat


.more1
	.fastLayer
		z-index: 1

.img-common
	position: relative
	z-index: 1
	-webkit-background-size: contain
	background-size: contain
	background-position: center center
	background-repeat: no-repeat
	opacity: .6

.more1__center
	float: left
	display: block
	width: 350px
	position: relative
	z-index: 10
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	color: $tColor
	margin: auto 0

.more1__text
	display: block
	font-size: 18px

.story
	width: 320px
	+clearfix
	&__contact
		width: 400px
		+clearfix

.success
	display: none
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 100
	text-transform: uppercase
	font-weight: bold
	font-size: 30px
	color: #ffffff
	span
		display: flex
		margin: auto
	& ~ *
		transition: all .5s linear
	&.active
		& ~ *
			opacity: .5
			filter: blur(10px)



.contacts
	float: right
	padding: 0 20px
	&__title
		font-size: 30px
		color: $tColor
		text-decoration: underline
	&__text
		font-size: 25px
		color: $tColor
		margin-bottom: 30px
	&__list
		list-style-type: none
		margin: 0
		padding: 0
	&__item
		display: block
		width: 100%
		height: 50px
		position: relative
		margin-bottom: 30px

.form
	float: left
	width: 320px
	height: auto
	background-color: transparent
	color: #fff
	label
		color: #fff
		font-weight: 300
		font-style: italic
		opacity: .8
	&__name
		width: 100%
		padding: 10px
		display: block
		font-size: 16px
		margin-bottom: 20px
		border: 2px solid #333
		border-radius: 6px
		color: #fff
		background-color: transparent
	&__text
		width: 100%
		height: 200px
		color: #fff
		font-size: 16px
		border: 2px solid #333
		border-radius: 6px
		resize: none
		padding: 10px
		display: block
		background-color: transparent

.form__title
	max-width: 320px
	margin-bottom: 20px
	font-size: 25px
	color: #fff
	text-transform: uppercase

.btn-wrap
	display: block
	position: relative
	width: 44%
	height: 70px
	overflow: hidden
	text-align: left
	.btn
		width: auto

.img1
	-webkit-background-size: cover
	background-size: cover
	background-position: 4% 50%
	min-height: 300px
	&--frito
		background-position: 20% 50%
	&--mariala
		background-position: 20% 50%
	&--buje
		background-position: 11% 50%
	&--puppes
		background-position: 4% 50%
	&--restaurant
		background-position: 52% 50%



@import "media" // Всегда в конце
